//main color scheme
$primaryColor: #81d4fa !default;
$primaryDarkColor: #4fc3f7 !default;
$primaryDarkerColor: #29b6f6 !default;
$primaryTextColor: #212529 !default;

//highlight
$highlightBg: $primaryColor !default;
$highlightTextColor: $primaryTextColor !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import "../_variables";
