//main color scheme
$primaryColor: #c5e1a5 !default;
$primaryDarkColor: #aed581 !default;
$primaryDarkerColor: #9ccc65 !default;
$primaryTextColor: #212529 !default;

//highlight
$highlightBg: $primaryColor !default;
$highlightTextColor: $primaryTextColor !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import "../_variables";
