.p-accordion {
    .p-accordion-header {
        .p-accordion-header-link {
            transition: background-color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration;
        }
    }
}

.p-tabview {
    .p-tabview-nav {
        li {
            .p-tabview-nav-link {
                transition: background-color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration;
            }
        }

        .p-tabview-ink-bar {
            z-index: 1;
            display: block;
            position: absolute;
            bottom: 0;
            height: 2px;
            background-color: $primaryColor;
            transition: 500ms cubic-bezier(0.35, 0, 0.25, 1);
        }
    }
}

.p-carousel {
    .p-carousel-indicators .p-carousel-indicator.p-highlight button {
        background-color: $primaryColor;
    }
}

.p-galleria {
    .p-galleria-indicators .p-galleria-indicator.p-highlight button {
        background-color: $primaryColor;
    }

    &.p-galleria-indicator-onitem {
        .p-galleria-indicators {
            .p-galleria-indicator {
                &.p-highlight {
                    button {
                        background: $primaryColor;
                    }
                }
            }
        }
    }
}

.p-datatable {
    .p-datatable-tbody {
        > tr {
            &.p-datatable-dragpoint-top > td {
                box-shadow: inset 0 2px 0 0 $primaryColor;
            }

            &.p-datatable-dragpoint-bottom > td {
                box-shadow: inset 0 -2px 0 0 $primaryColor;
            }
        }
    }
}